:root {
    --primary: moccasin;
    --secondary: #D8C3A5;
    --tertiary: #8E8D8A;
    --accent1: #E98074;
    --accent2: #E85A4F;
    --greenAccent: #98d3bd;
    --purpleAccent: #B5D0FF;
    --redAccent: rgb(187, 50, 0);
    --darkPrimary: #b6894e;
}