body {
    font-family: 'Courier New', Courier, monospace;
    background-color: moccasin;
}

h1 {
    padding-left: 2em;
}

p {
    padding-left: 4em;
}


/* header */

header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #966F3C;
    padding: 10px;
}

.authLabel {
    margin-left: 2em;
}

#logo {
    padding-left: 9em;
    font-size: 2.5em;
    letter-spacing: 0.3em;
    text-shadow: 1px 1px 2px black, 0 5px 10px rgb(180, 0, 0), 0 0 30px white;
}

#auth {
    color: black;
    padding-top: 1em;
}


/* Game board */

#gameboard {
    display: grid;
    width: 80%;
    height: 26em;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: url('wood.jpg');
    margin: 0 10% 0 10%;
}

.middleBoard {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cell,
.storage {
    border-radius: 3em;
    background: radial-gradient(closest-side, rgba(0, 0, 0, 0.6), transparent 80%), url('darkwood.jpg');
    margin: 1em;
}

.cell {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1
    /* width: 6.5em;
    height: 12em; */
}

.storage {
    grid-row-end: span 2;
    width: 80%;
    justify-self: center;
}

.seedRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.seed {
    width: 1.4em;
    height: 1em;
    border-radius: 50%;
    background: radial-gradient(closest-side, rgba(255, 255, 255, 0.55), transparent), rgb(180, 0, 0);
    transform: rotate(-30deg);
}


/* Instructions */

#instructions ul {
    padding-left: 7em;
}