@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulseText {
    0% {
        font-size: 1.3em;
    }
    60% {
        font-size: 1.3em;
    }
    70% {
        font-size: 1.75em;
    }
    80% {
        font-size: 1.3em;
    }
    90% {
        font-size: 1.75em;
    }
    100% {
        font-size: 1.3em;
    }
}


/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 2em;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 2em;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 2em;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 2em;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}